/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* MY CSS */

:root {
  /* Primary */
  --primary-profile: hsl(246, 80%, 60%);
  --primary-work: hsl(15, 100%, 70%);
  --primary-play: hsl(195, 74%, 62%);
  --primary-study: hsl(348, 100%, 68%);
  --primary-exercise: hsl(145, 58%, 55%);
  --primary-social: hsl(264, 64%, 52%);
  --primary-care: hsl(43, 84%, 65%);

  /* Neutral */

  --neutral-800: hsl(226, 43%, 10%);
  --neutral-700: hsl(235, 46%, 20%);
  --neutral-400: hsl(235, 45%, 61%);
  --neutral-200: hsl(236, 100%, 87%);

  --fw-light: 300;
  --fw-reg: 400;
  --fw-medium: 500;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--neutral-800);
  margin: 5.0625rem 1.5rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main,
.cards-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

ul {
  all: unset;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

.profile {
  background-color: var(--neutral-700);
  border-radius: 15px;
}

.profile__content {
  background-color: var(--primary-profile);
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 2.125rem 1.8125rem;
  border-radius: 15px;
}

.profile__picture {
  width: clamp(4rem, 1.315vw + 3.692rem, 4.875rem);
  height: clamp(4rem, 1.315vw + 3.692rem, 4.875rem);
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.profile__above-title {
  font-weight: var(--fw-reg);
  color: var(--neutral-200);
  font-size: 0.9375rem;
}

.profile__title {
  color: white;
  font-weight: var(--fw-light);
  font-size: clamp(1.5rem, 1.502vw + 1.148rem, 2.5rem);
}

.buttons {
  color: var(--neutral-400);
  font-weight: var(--fw-reg);
  font-size: 1.125rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

button:hover {
  color: white;
}

.card__decoration {
  height: 45px;
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  padding-right: 1.5rem;
}

.card {
  border-radius: 15px;
}

.card__content {
  background-color: var(--neutral-700);
  padding: 1.75rem 1.5rem;
  border-radius: 15px;
  cursor: pointer;
}

.card__content:hover {
  background-color: #33397a;
}

.card__content h2 {
  color: white;
  font-weight: var(--fw-medium);
  font-size: 1.125rem;
  position: relative;
}

.card__content h2::after {
  content: "";
  background-image: url("./images/icon-ellipsis.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 5px;
  width: 8%;
  top: 44%;
  right: 0;
  display: inline-block;
}

.card__timeframe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: var(--fw-light);
  font-size: clamp(2rem, 2.254vw + 1.472rem, 3.5rem);
}

.card__timeframe span {
  color: var(--neutral-200);
  font-weight: var(--fw-reg);
  font-size: 0.9375rem;
  text-transform: capitalize;
}

@media (min-width: 37.5rem) {
  body {
    margin: 0;
  }
  main {
    max-width: 69.375rem;
    flex-direction: row;
  }

  .cards-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1.875rem;
    row-gap: 1.875rem;
    grid-template-areas:
      "p a b c"
      "p d e f";
  }

  .profile {
    grid-area: p;
  }

  .profile__content {
    padding: 2.125rem 1.8125rem 5rem 1.8125rem;
    flex-direction: column;
    align-items: start;
    gap: 2.6875rem;
  }

  .card__content h2 {
    margin-bottom: 1.5rem;
  }

  .card__timeframe {
    gap: 0.5rem;
  }

  #card1 {
    grid-area: a;
  }

  #card2 {
    grid-area: b;
  }

  #card3 {
    grid-area: c;
  }

  #card4 {
    grid-area: d;
  }

  #card5 {
    grid-area: e;
  }

  #card6 {
    grid-area: f;
  }

  .card__timeframe {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttons {
    flex-direction: column;
    gap: 1.3125rem;
    padding: 1.625rem 0 2rem 2rem;
  }
}
